USE [bilibilisim_proje]
GO
/****** Object:  Table [dbo].[admin]    Script Date: 13.08.2026 23:06:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admin](
	[admin_id] [int] IDENTITY(1,1) NOT NULL,
	[kuladi] [nvarchar](50) NOT NULL,
	[sifre] [nvarchar](50) NULL,
 CONSTRAINT [admin_pkey] PRIMARY KEY CLUSTERED 
(
	[admin_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[kategori]    Script Date: 13.08.2026 23:06:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kategori](
	[kate_no] [int] IDENTITY(1,1) NOT NULL,
	[kate_adi] [nvarchar](50) NOT NULL,
	[u_kate_id] [int] NULL,
 CONSTRAINT [kategori_pkey] PRIMARY KEY CLUSTERED 
(
	[kate_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sehirler]    Script Date: 13.08.2026 23:06:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sehirler](
	[plaka] [int] IDENTITY(1,1) NOT NULL,
	[il] [nvarchar](50) NOT NULL,
 CONSTRAINT [sehirler_pkey] PRIMARY KEY CLUSTERED 
(
	[plaka] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[siparisler]    Script Date: 13.08.2026 23:06:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[siparisler](
	[kayit_no] [int] IDENTITY(1,1) NOT NULL,
	[sip_no] [int] NOT NULL,
	[uye_id] [int] NOT NULL,
	[adet] [int] NOT NULL,
	[a_tarih] [date] NOT NULL,
	[urun_id] [int] NOT NULL,
 CONSTRAINT [siparisler_pkey] PRIMARY KEY CLUSTERED 
(
	[kayit_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[urunler]    Script Date: 13.08.2026 23:06:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[urunler](
	[urun_id] [int] IDENTITY(1,1) NOT NULL,
	[urun_adi] [nvarchar](255) NOT NULL,
	[marka] [nvarchar](50) NOT NULL,
	[model] [nvarchar](50) NOT NULL,
	[kate_no] [int] NOT NULL,
	[fiyati] [numeric](15, 2) NOT NULL,
	[stok] [int] NOT NULL,
	[fotolar] [nvarchar](255) NULL,
	[satis_adet] [smallint] NOT NULL,
	[urun_aciklama] [nvarchar](500) NULL,
 CONSTRAINT [PK_urunler] PRIMARY KEY CLUSTERED 
(
	[urun_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ust_kategori]    Script Date: 13.08.2026 23:06:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ust_kategori](
	[u_kate_id] [int] IDENTITY(1,1) NOT NULL,
	[u_kate_adi] [nvarchar](50) NOT NULL,
 CONSTRAINT [pk_ustkate] PRIMARY KEY CLUSTERED 
(
	[u_kate_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[uyeler]    Script Date: 13.08.2026 23:06:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[uyeler](
	[uye_id] [int] IDENTITY(1,1) NOT NULL,
	[kuladi] [nvarchar](50) NOT NULL,
	[sifre] [nvarchar](50) NOT NULL,
	[ad_soyad] [nvarchar](50) NOT NULL,
	[dog_tar] [date] NOT NULL,
	[cinsiyet] [bit] NOT NULL,
	[vip] [bit] NOT NULL,
	[adres] [text] NULL,
	[email] [nvarchar](50) NOT NULL,
	[plaka] [int] NOT NULL,
	[vip_basvuru] [bit] NOT NULL,
 CONSTRAINT [uyeler_pkey] PRIMARY KEY CLUSTERED 
(
	[uye_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[admin] ON 

INSERT [dbo].[admin] ([admin_id], [kuladi], [sifre]) VALUES (1, N'Butgem', N'123456')
SET IDENTITY_INSERT [dbo].[admin] OFF
GO
SET IDENTITY_INSERT [dbo].[kategori] ON 

INSERT [dbo].[kategori] ([kate_no], [kate_adi], [u_kate_id]) VALUES (1, N'Islemci (CPU)', 1)
INSERT [dbo].[kategori] ([kate_no], [kate_adi], [u_kate_id]) VALUES (2, N'Anakart (Motherboard)', 1)
INSERT [dbo].[kategori] ([kate_no], [kate_adi], [u_kate_id]) VALUES (3, N'Bellek (RAM)', 1)
SET IDENTITY_INSERT [dbo].[kategori] OFF
GO
SET IDENTITY_INSERT [dbo].[sehirler] ON 

INSERT [dbo].[sehirler] ([plaka], [il]) VALUES (1, N'ADANA')
INSERT [dbo].[sehirler] ([plaka], [il]) VALUES (2, N'ADIYAMAN')
INSERT [dbo].[sehirler] ([plaka], [il]) VALUES (3, N'AFYONKARAHİSAR')
SET IDENTITY_INSERT [dbo].[sehirler] OFF
GO
SET IDENTITY_INSERT [dbo].[siparisler] ON 

INSERT [dbo].[siparisler] ([kayit_no], [sip_no], [uye_id], [adet], [a_tarih], [urun_id]) VALUES (1, 1, 1, 1, CAST(N'2026-08-12' AS Date), 1)
INSERT [dbo].[siparisler] ([kayit_no], [sip_no], [uye_id], [adet], [a_tarih], [urun_id]) VALUES (3, 2, 1, 1, CAST(N'2026-08-12' AS Date), 20)
INSERT [dbo].[siparisler] ([kayit_no], [sip_no], [uye_id], [adet], [a_tarih], [urun_id]) VALUES (4, 2, 1, 1, CAST(N'2026-08-12' AS Date), 21)
SET IDENTITY_INSERT [dbo].[siparisler] OFF
GO
SET IDENTITY_INSERT [dbo].[urunler] ON 

INSERT [dbo].[urunler] ([urun_id], [urun_adi], [marka], [model], [kate_no], [fiyati], [stok], [fotolar], [satis_adet], [urun_aciklama]) VALUES (1, N'AMD Ryzen 9 9950X', N'AMD', N'Ryzen 9 9950X', 1, CAST(35000.00 AS Numeric(15, 2)), 2, N'amd-ryzen-9-9950x-tray-5-7ghz-16-cekirdek-80mb-onbellek-am5-islemci-1.jpg', 5, N'AMD''nin Zen 5 mimarili, 16 çekirdek ve 32 iş parçacığına sahip, üst düzey performans sunan amiral gemisi masaüstü işlemcisi.')
INSERT [dbo].[urunler] ([urun_id], [urun_adi], [marka], [model], [kate_no], [fiyati], [stok], [fotolar], [satis_adet], [urun_aciklama]) VALUES (2, N'AMD Ryzen 7 7800X3D', N'AMD', N'Ryzen 7 7800X3D', 1, CAST(16500.00 AS Numeric(15, 2)), 2, N'ryzen-7-7800x3d-islemci.jpg', 5, N'3D V-Cache teknolojisi ile donatılmış, 8 çekirdekli, özellikle oyun performansında rakipsiz AMD AM5 işlemci.')
INSERT [dbo].[urunler] ([urun_id], [urun_adi], [marka], [model], [kate_no], [fiyati], [stok], [fotolar], [satis_adet], [urun_aciklama]) VALUES (3, N'AMD Ryzen 9 7950X3D', N'AMD', N'Ryzen 9 7950X3D', 1, CAST(22000.00 AS Numeric(15, 2)), 2, N'm_amd-ryzen-9-7950x3d-1.jpg', 5, N'16 çekirdek, 32 iş parçacığı ve 3D V-Cache teknolojisini birleştiren, hem oyun hem iş istasyonu odaklı üst düzey işlemci.')
SET IDENTITY_INSERT [dbo].[urunler] OFF
GO
SET IDENTITY_INSERT [dbo].[ust_kategori] ON 

INSERT [dbo].[ust_kategori] ([u_kate_id], [u_kate_adi]) VALUES (1, N'Bilgisayar Bilesenleri')
INSERT [dbo].[ust_kategori] ([u_kate_id], [u_kate_adi]) VALUES (2, N'Çevre Birimleri')
INSERT [dbo].[ust_kategori] ([u_kate_id], [u_kate_adi]) VALUES (3, N'Laptop - Notebook')
SET IDENTITY_INSERT [dbo].[ust_kategori] OFF
GO
SET IDENTITY_INSERT [dbo].[uyeler] ON 

INSERT [dbo].[uyeler] ([uye_id], [kuladi], [sifre], [ad_soyad], [dog_tar], [cinsiyet], [vip], [adres], [email], [plaka], [vip_basvuru]) VALUES (1, N'mahmut', N'12345678', N'Mahmut Mahmuter', CAST(N'1992-02-15' AS Date), 0, 1, N'Bursa', N'mahmuteleman@hotmail.com', 16, 1)
INSERT [dbo].[uyeler] ([uye_id], [kuladi], [sifre], [ad_soyad], [dog_tar], [cinsiyet], [vip], [adres], [email], [plaka], [vip_basvuru]) VALUES (2, N'fadime231', N'987654321', N'Fadime Gencer', CAST(N'1988-07-07' AS Date), 1, 0, N'Adana', N'fadimegencer@gmail.com', 1, 0)
SET IDENTITY_INSERT [dbo].[uyeler] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [admin_kuladi_key]    Script Date: 13.08.2026 23:06:16 ******/
ALTER TABLE [dbo].[admin] ADD  CONSTRAINT [admin_kuladi_key] UNIQUE NONCLUSTERED 
(
	[kuladi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uyeler_email_key]    Script Date: 13.08.2026 23:06:16 ******/
ALTER TABLE [dbo].[uyeler] ADD  CONSTRAINT [uyeler_email_key] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uyeler_kuladi_key]    Script Date: 13.08.2026 23:06:16 ******/
ALTER TABLE [dbo].[uyeler] ADD  CONSTRAINT [uyeler_kuladi_key] UNIQUE NONCLUSTERED 
(
	[kuladi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[uyeler] ADD  CONSTRAINT [DF_uyeler_vip]  DEFAULT ((0)) FOR [vip]
GO
ALTER TABLE [dbo].[kategori]  WITH CHECK ADD  CONSTRAINT [kategori_u_kate_id_fkey] FOREIGN KEY([u_kate_id])
REFERENCES [dbo].[ust_kategori] ([u_kate_id])
GO
ALTER TABLE [dbo].[kategori] CHECK CONSTRAINT [kategori_u_kate_id_fkey]
GO
ALTER TABLE [dbo].[siparisler]  WITH CHECK ADD  CONSTRAINT [siparisler_urun_id_fkey] FOREIGN KEY([urun_id])
REFERENCES [dbo].[urunler] ([urun_id])
GO
ALTER TABLE [dbo].[siparisler] CHECK CONSTRAINT [siparisler_urun_id_fkey]
GO
ALTER TABLE [dbo].[siparisler]  WITH CHECK ADD  CONSTRAINT [siparisler_uye_id_fkey] FOREIGN KEY([uye_id])
REFERENCES [dbo].[uyeler] ([uye_id])
GO
ALTER TABLE [dbo].[siparisler] CHECK CONSTRAINT [siparisler_uye_id_fkey]
GO
ALTER TABLE [dbo].[urunler]  WITH CHECK ADD  CONSTRAINT [FK_urunler_kategori] FOREIGN KEY([kate_no])
REFERENCES [dbo].[kategori] ([kate_no])
GO
ALTER TABLE [dbo].[urunler] CHECK CONSTRAINT [FK_urunler_kategori]
GO
ALTER TABLE [dbo].[uyeler]  WITH CHECK ADD  CONSTRAINT [uyeler_plaka_fkey] FOREIGN KEY([plaka])
REFERENCES [dbo].[sehirler] ([plaka])
GO
ALTER TABLE [dbo].[uyeler] CHECK CONSTRAINT [uyeler_plaka_fkey]
GO
